/* 
  ! ======================================================
  ! Fluid variables utopia.fyi calculator
  ! Type: @link https://utopia.fyi/type/calculator?c=360,18,1.333,1240,22,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
  ! Space: @link https://utopia.fyi/space/calculator?c=360,18,1.333,1240,22,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
  ! Pour l'utilisation des variables, voir le fichier 
  ! ======================================================
*/

:root {
	/* Taille de base fixe */
	font-size: 16px;
	--zoom-factor: 1; /* fallback si JS non chargé */

	/* Facteur de Font Size Display */
	--display-factor: 2;
	/* Ratios de hauteur de ligne */
	--ratio-sm: 1.2; /* Pour le petit texte */
	--ratio-base: 1.4; /* Pour le texte courant */
	--ratio-lg: 1.6; /* Pour les grands titres */

	/* Échelle typographique fluide - ne pas modifier */
	/* Step -2: 10.1301px → 12.3812px */
	--size--2: clamp(0.6331rem, 0.5756rem + 0.2558vw, 0.7738rem);
	/* Step -1: 13.5034px → 16.5041px */
	--size--1: clamp(0.844rem, 0.7672rem + 0.341vw, 1.0315rem);
	/* Step 0: 18px → 22px */
	--size-0: clamp(1.125rem, 1.0227rem + 0.4545vw, 1.375rem);
	/* Step 1: 23.994px → 29.326px */
	--size-1: clamp(1.4996rem, 1.3633rem + 0.6059vw, 1.8329rem);
	/* Step 2: 31.984px → 39.0916px */
	--size-2: clamp(1.999rem, 1.8173rem + 0.8077vw, 2.4432rem);
	/* Step 3: 42.6347px → 52.109px */
	--size-3: clamp(2.6647rem, 2.4224rem + 1.0766vw, 3.2568rem);
	/* Step 4: 56.832px → 69.4614px */
	--size-4: clamp(3.552rem, 3.2291rem + 1.4352vw, 4.3413rem);
	/* Step 5: 75.7571px → 92.592px */
	--size-5: clamp(4.7348rem, 4.3044rem + 1.9131vw, 5.787rem);

	/* Variables d'espacement fluide - Base */
	/* Space 3xs: 5px → 6px */
	--space-3xs: clamp(0.3125rem, 0.2869rem + 0.1136vw, 0.375rem);
	/* Space 2xs: 9px → 11px */
	--space-2xs: clamp(0.5625rem, 0.5114rem + 0.2273vw, 0.6875rem);
	/* Space xs: 14px → 17px */
	--space-xs: clamp(0.875rem, 0.7983rem + 0.3409vw, 1.0625rem);
	/* Space s: 18px → 22px */
	--space-s: clamp(1.125rem, 1.0227rem + 0.4545vw, 1.375rem);
	/* Space m: 27px → 33px */
	--space-m: clamp(1.6875rem, 1.5341rem + 0.6818vw, 2.0625rem);
	/* Space l: 36px → 44px */
	--space-l: clamp(2.25rem, 2.0455rem + 0.9091vw, 2.75rem);
	/* Space xl: 54px → 66px */
	--space-xl: clamp(3.375rem, 3.0682rem + 1.3636vw, 4.125rem);
	/* Space 2xl: 72px → 88px */
	--space-2xl: clamp(4.5rem, 4.0909rem + 1.8182vw, 5.5rem);
	/* Space 3xl: 108px → 132px */
	--space-3xl: clamp(6.75rem, 6.1364rem + 2.7273vw, 8.25rem);

	/* One-up pairs */
	/* Space 3xs-2xs: 5px → 11px */
	--space-3xs-2xs: clamp(0.3125rem, 0.1591rem + 0.6818vw, 0.6875rem);
	/* Space 2xs-xs: 9px → 17px */
	--space-2xs-xs: clamp(0.5625rem, 0.358rem + 0.9091vw, 1.0625rem);
	/* Space xs-s: 14px → 22px */
	--space-xs-s: clamp(0.875rem, 0.6705rem + 0.9091vw, 1.375rem);
	/* Space s-m: 18px → 33px */
	--space-s-m: clamp(1.125rem, 0.7415rem + 1.7045vw, 2.0625rem);
	/* Space m-l: 27px → 44px */
	--space-m-l: clamp(1.6875rem, 1.2528rem + 1.9318vw, 2.75rem);
	/* Space l-xl: 36px → 66px */
	--space-l-xl: clamp(2.25rem, 1.483rem + 3.4091vw, 4.125rem);
	/* Space xl-2xl: 54px → 88px */
	--space-xl-2xl: clamp(3.375rem, 2.5057rem + 3.8636vw, 5.5rem);
	/* Space 2xl-3xl: 72px → 132px */
	--space-2xl-3xl: clamp(4.5rem, 2.9659rem + 6.8182vw, 8.25rem);

	/* Custom pairs */
	/* Space s-l: 18px → 44px */
	--space-s-l: clamp(1.125rem, 0.4602rem + 2.9545vw, 2.75rem);
}
